@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{

    .btn{
        @apply
        px-4 py-2  text-white border-none rounded-md
    }
    .btn.primary{
        @apply
        bg-btn
    }
    .modal{
        @apply
        fixed top-0 left-0 
        w-full h-full 
        z-40 
        opacity-0  -translate-y-full   duration-500 
    }
    .modal.show{
        @apply
        opacity-100  translate-y-0 
    }
    .modal .overlay{
        @apply
        bg-cart  top-0 left-0  w-full
    }
    .cart{
        visibility:hidden;
        @apply
        fixed top-0 left-0 
        h-full w-full 
        bg-cart
        opacity-0  translate-x-full   duration-500 
    }
    .cart.show{
        visibility:visible;
        @apply
        opacity-100  translate-x-0  
        
    }
    .cart .cart__content{
        @apply 
        w-80 h-full
        absolute right-0 top-0
        px-8 py-4
        flex flex-col
        bg-white 
        overflow-y-auto
    }
    .product-card{
        @apply  my-4 shadow-md shadow-neutral-700
    }
     .product-image {
        @apply
        overflow-hidden rounded-t-md h-80
    }
    .product-card  .product-details{
        border-top-right-radius: 40%;
        @apply
        text-white py-8 px-4 bg-black 
    }
    .product-title {
        @apply 
        text-3xl text-white
    }
    .product-category{
        @apply
        text-lg text-gray-300
    }
    .product-desc{
        @apply
        mt-3
        text-lg text-gray-500  
    }
     .product-product-details p{
        @apply
        text-sm text-gray-500 mt-3
    }

    /* .product-price{
        @apply
        text-xl  my-2
    } */
  
}