@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    body{
      overflow-x: hidden;
      @apply
      relative
      bg-background-main dark:bg-background-dark
    }
    ::-webkit-scrollbar {
    
      @apply
      w-0
      h-1.5
     
    }
    
    ::-webkit-scrollbar-thumb {
      @apply 
      h-5
      bg-gradient-to-r from-gray-900 to-blue-500
      rounded-lg
    }
    
    ::-webkit-scrollbar-track {
      @apply
      bg-transparent
      
    }
  }

@layer components{

    .btn{
        @apply
        px-4 py-2  text-white border-none rounded-md
    }
    .btn.primary{
        @apply
        bg-main-light
    }
    .modal{
        @apply
        fixed -top-full left-0 
        w-full h-full 
        z-40 
        opacity-0  -translate-y-full   duration-700
    }
    .modal.show{
        @apply
        top-0
        opacity-100  translate-y-0 
    }
    .modal .overlay{
        @apply
        bg-overlay top-0 left-0  w-full
    }
    .cart{
        visibility:hidden;
        @apply
        fixed top-0 left-0 
        h-full w-full 
        bg-overlay
        opacity-0  translate-x-full   duration-500 
    }
    .cart.show{
        visibility:visible;
        @apply
        opacity-100  translate-x-0  
        
    }
    .cart .cart__content{
        @apply 
        w-full sm:w-80 h-full
        absolute right-0 top-0
        px-8 py-4
        flex flex-col
        bg-white dark:text-white dark:bg-main-dark   
        overflow-y-auto
    }

    .product-card{
        @apply  
        my-4
        rounded-2xl
        dark:bg-main-dark
        dark:text-white 
        shadow-md shadow-productCard-main dark:shadow-productCard-dark  hover:shadow-productCardHover
        duration-500
    }

     .product-image {
        @apply
        overflow-hidden rounded-t-md h-80
    }
    .product-card  .product-details{
        @apply
       py-8 px-4 text-gray-600 dark:text-white
    }
    .product-title {
        @apply 
        text-3xl 
    }
    .product-category{
        @apply
        text-lg text-gray-500 dark:text-gray-400
    }
    .product-desc{
        @apply
        mt-3
        text-lg text-gray-500   dark:text-gray-400
    }
     .product-product-details p{
        @apply
        text-sm text-gray-500 mt-3
    }

  
}